[submodule "repositories/accumulo"]
	path = repositories/accumulo
	url = https://github.com/bugs-dot-jar/accumulo.git
[submodule "repositories/camel"]
	path = repositories/camel
	url = https://github.com/bugs-dot-jar/camel.git
[submodule "repositories/flink"]
	path = repositories/flink
	url = https://github.com/carolhanna01/flink.git
[submodule "repositories/commons-math"]
	path = repositories/commons-math
	url = https://github.com/bugs-dot-jar/commons-math.git
[submodule "repositories/maven"]
	path = repositories/maven
	url = https://github.com/bugs-dot-jar/maven.git
[submodule "repositories/jackrabbit-oak"]
	path = repositories/jackrabbit-oak
	url = https://github.com/bugs-dot-jar/jackrabbit-oak.git
[submodule "repositories/wicket"]
	path =repositories/wicket
	url = https://github.com/bugs-dot-jar/wicket.git
[submodule "repositories/logging-log4j2"]
	path = repositories/logging-log4j2
	url = https://github.com/bugs-dot-jar/logging-log4j2
[submodule "repositories/jackrabbit"]
	path = repositories/jackrabbit
	url = https://github.com/carolhanna01/jackrabbit.git
[submodule "repositories/hbase"]
	path = repositories/hbase
	url = https://github.com/carolhanna01/hbase.git
[submodule "repositories/karaf"]
	path = repositories/karaf
	url = https://github.com/carolhanna01/karaf.git
[submodule "repositories/nifi"]
	path = repositories/nifi
	url = https://github.com/carolhanna01/nifi.git
[submodule "repositories/kafka"]
	path = repositories/kafka
	url = https://github.com/carolhanna01/kafka.git
[submodule "repositories/solr"]
	path = repositories/solr
	url = https://github.com/carolhanna01/solr.git
[submodule "repositories/calcite"]
	path = repositories/calcite
	url = https://github.com/carolhanna01/calcite.git
[submodule "repositories/hadoop"]
	path = repositories/hadoop
	url = https://github.com/carolhanna01/hadoop.git
[submodule "repositories/ambari"]
	path = repositories/ambari
	url = https://github.com/carolhanna01/ambari
